.mantine-zv7whn{
    width: 3rem !important;
    height: 3rem !important;
}

.mantine-1ti2zsz {
 
    background: #080a4f;
    height: 200px;
    border-radius: 0 0 40px 40px;
    box-shadow: 0 0 20px 0 #0000008a;
}